<div class="uk-container">
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li class="uk-active">
          <a [routerLink]="['/create-transactions']" uk-toggle>
            <span class="uk-icon uk-margin-small-right" uk-icon="icon: plus"></span>
            Adicionar
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="uk-container">
  <table class="uk-table uk-table-middle uk-table-divider uk-table-hover" 
  *ngIf="(transactions$ | async) as transations">
    <thead>
      <tr>
        <th class="uk-width-large">Nome</th>
        <th class="uk-width-small">Cartão</th>
        <th>Valor</th>
        <th>Data</th>
        <th>Tipo</th>
        <th>Parcelas</th>
      </tr>
    </thead>
    <tbody *ngFor="let transaction of transations">
      <tr>
        <td>{{transaction.cardholderName}}</td>
        <td>{{transaction.number}}</td>
        <td>{{transaction.amount | currency: 'BRL'}}</td>
        <td>{{transaction.dateTransaction | date: 'dd/MM/yyyy'}}</td>
        <td>{{transaction.type }}</td>
        <td>{{transaction.numberInstallments}}X</td>
      </tr>
    </tbody>
  </table>

<!-- 
  <ng-template #loadingNotError>
    <div *ngIf="error$ | async; else loadingNotError">
      Error ao carregar transações
    </div>
    <ng-template>
      <span>Carregando transações...</span>
    </ng-template>
  </ng-template> -->
</div>