<button button uk-toggle="target: #modal-edit-card" class="uk-button uk-button-default">
    <span class="uk-icon uk-margin-small-right" uk-icon="icon: pencil"></span>
</button>



<div id="modal-edit-card" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Detalhes do cartão</h2>
        </div>
        <div class="uk-modal-body">
            <form [formGroup]="editForm">
                    <label><input class="uk-checkbox uk-card-media-right" 
                        formControlName="active" type="checkbox">Desabilitar</label>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Número</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" formControlName="number" [(ngModel)]="_card.number"
                            id="form-stacked-text" type="text" placeholder="Número do cartão">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Código de segurança</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" formControlName="securityCode" [(ngModel)]="_card.securityCode"
                            id="form-stacked-text" type="text" placeholder="CVV">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Validade</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" formControlName="expirationDate"
                            [(ngModel)]="_card.expirationDate"
                            id="form-stacked-text" type="text" placeholder="Validade">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Saldo</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" formControlName="balance" [(ngModel)]="_card.balance"
                            id="form-stacked-text" type="text" placeholder="Saldo" readonly>
                    </div>
                </div>
            </form>
        </div>
  
        <div class="uk-modal-footer uk-text-right">
             
            <button class="uk-button uk-button-default uk-modal-close">Cancelar</button>
            <button class="uk-button uk-button-primary" type="submit" uk-icon="icon: save">
                Salvar</button>
        </div>
     
    </div>
</div>